<footer class="text-center flow space:0.2rem">
    <p>&copy;
        <em>Car</em>-Pro.<em>app</em>
        - {{ '2026-' if year > 2026 }}{{ year }}
    </p>
    <p>Site web éco-conçu avec {% link url="https://www.poko.eco/", type="external" %}poko{% endlink %} par
        {% link url="https://www.mookai.be/", type="external" %}mookaï asbl{% endlink %}</p>
</footer>